# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.pytest_cache/

# Node.js
node_modules/

# Code editors
.idea/
.vscode/


# Replit
.replit
.upm/
.cache/
.config/
.local/

# OS
.DS_Store
Thumbs.db
