* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    background-color: #777777;
    font-family: "Open Sans", Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #011627;
    vertical-align: middle;
    line-height: 60px;
    padding: 5px
}

h1 {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-flex;
    vertical-align: middle;
}

nav {
    text-align: right;
    display: inline-flex;
    font-size: 1.2rem;
    text-decoration: none;
    vertical-align: middle;
}

a { 
    display: block;
    margin: 0px 20px;
    text-decoration: none;
}

a:link, a:visited {
    color: darkgray;
}

a:hover {
    color: #777777;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    font-size: 1rem;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .2rem;
    padding: 5px 10px;
    z-index: 1;
    list-style-type: none;
    text-decoration: none;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    color: #777777;
    background-color: #011627;
}

body {
    display: block;
    background-color: #D6BA73;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
}

.about-desc {
    display: block;
    background-color: ;
    text-align: center;
    margin-top: 1rem;
}

.linked-in, .linked-in:link {
    display: inline;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4rem;    /* Footer height */
}

section {
    width: 33.33%;
    float: left;
    padding: 0 2rem;
}

aside {
    width: 33.33%;
    float: left;
    padding: 0 2rem;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    color: #00000084;
}

.page-title { 
    color: #111; 
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 3rem; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; }

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 5px;
    height: 2.5rem;
    vertical-align: bottom;
}

